
# build
Cython>=3.0.0
flake8>=7.1.0
mock
mypy>=1.11.0
pre-commit

# testing
pytest>=8.0.0
pytest-asyncio>=0.23.0
pytest-cov>=5.0.0

# mypy types
types-mock
types-protobuf
types-pytz
types-requests
types-setuptools
types-toml
